html,body {
	padding:0; 
	margin:0;
}


/*-----Small Mobile-----*/


.menu{
	background-color: #5A9498;
	min-width: 350px;
	min-height: 60px;
	display: flex;

}

.burger{
	display:flex;
}

.svg-burg{
	padding-left: 10px;
	margin:auto;
}

.big-image{
	min-width: 350px;
	min-height: 250px;
	background-color:#eee;
}



.box{
	text-align: center;
	padding:15px 12px 15px 12px;
}

.container-4{
	background-color:#5A9498;
	flex-direction: column;
	padding:15px 35px 35px 35px;
}


.big-text{
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	padding-top:20px;
	padding-bottom: 20px;
}

.button{
	display: flex;
	margin: auto;
	max-width: 190px;
	min-height: 55px;
	background: #F7F7F7;
	border-radius: 15px;
	font-size: 22px;
	line-height: 27px;
	color: #5A9498;
}

.button-text{
	margin:auto;
}



.heel-container{
	display: none;
}



.devices{
	min-width: 350px;
	min-height: 250px;
	background-color:#eee;
}

.big-text-2{
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	color:#5A9498;
	padding-top:20px;
	padding-bottom: 20px;
}

.container-6{
	padding:15px 35px 35px 35px;
}


/*-----Big Mobile, Small Tablet-----*/
@media(min-width:450px){

	.container-3{
		display:grid;
		grid-template-columns: 1fr 2fr;
	}

	.box{
	text-align: center;
	margin:auto;
	padding:30px 15px 30px 15px;
	}

	.container-4{
		min-height: 200px;
		display:flex;
		padding:65px 35px 65px 40px;
	}

	.big-text{
		margin:auto;
	}

	.button{
		min-width: 190px;
		min-height: 55px;
	}

	.devices{
		min-height: 300px;
	}


/*-----Tablet-----*/
@media(min-width:700px){

	.container-3{
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		'one three five'
		'two four six';
	}

	#one{
		grid-area:one;
	}

	#two{
		grid-area:two;
	}

	#three{
		grid-area:three;
	}

	#four{
		grid-area:four;
	}

	#five{
		grid-area:five;
	}

	#six{
		grid-area:six;
	}



	.container-4{
	padding: 0px 0px 0px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr 1fr; 
	grid-gap:5px;
	grid-template-areas:
		't t t h'
		'. b . h'
	}

	.heel-container{
		display: flex;
		background-color:#F7F7F7;

	}

	.red-heel{
		margin:auto;
		max-height: 300px;
		max-width: 300px;
	}

	.big-text{
		padding-top:70px;
		grid-area:t;
		max-width: 550px;
	}

	.button{
		grid-area:b;
	}

	.heel-container{
		grid-area:h;
	}
}


/*-----Desktop-----*/
@media(min-width:900px){

	.big-image{
		min-height: 450px;
	}

	.container-3{
		margin:auto;
		max-width: 900px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.container-4{
		min-height: 500px;
	}


